#accordion{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

.card-header{
   color: rgba(0,0,0, .5);
   padding: 0;
}
.card-header:hover{
    color: rgba(0,0,0, 1);
    cursor: pointer;
}

button.mb-0{
    width: 100%;
    margin: 0;
    padding: 1em;
    background-color: white;
    border: 0;
}

button:focus{
    outline: none;
}