.cards{
    max-width: 30em;
    background-color:rgba(0,0,0,.6);
    color: white;
    margin: 5em;
    border: solid maroon 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.card-title{
    font-weight: bolder;
}
